{% extends 'user_base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <form  class="login"  action="" method="POST">
        {% csrf_token %}
        {{ form.errors }}
        {{ errors }}
        <label>User Name</label><br>
        {{ form.username.errors }}
        <input type="text" class="login-input" name='username' placeholder="User Name" />
        <label>Email</label>
        {{ form.email.errors }}
        <input type="email" class="login-input" name='email' placeholder="Email" />
        <label>Input Password</label>
        {{ pwd_errors }}
        {{ form.password1.errors }}
        <input type="password" class="login-input" name="password1" placeholder="Password" />
        <label>Input Password again</label>
        {{ form.password2.errors }}
        <input type="password" class="login-input" name="password2" placeholder="Password again" />
        <input type="submit" class="btn btn-default" value="Reset it" />
    </form>
{% endblock %}